<ion-content >
<ion-header>
    <ion-toolbar>
      <ion-title>
        Nossas Lojas
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content >
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-content class="gray-background">
              <ion-label>
                Livraria Cultural:
              </ion-label>
              <ion-note>
                Avenida dos Livros, 123
              </ion-note>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-content class="gray-background">
              <ion-label>
                Páginas Encantadas:
              </ion-label>
              <ion-note>
                Rua dos Contos, 456
              </ion-note>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-content class="gray-background">
              <ion-label>
                Palavras Mágicas:
              </ion-label>
              <ion-note>
                Praça das Histórias, 789
              </ion-note>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>