.gray-background {
    background-color: burlywood;
  }
  ion-note{
    color: rgb(56, 56, 56);
  }
  ion-label{
    color: black;
  }

  ion-content{
    --background: url(../../assets/imagens/fundo.jpg) no-repeat center/cover fixed;
    
}
ion-title{
  background-color: burlywood; }